In [49]:
import pandas as pd

In [50]:
covid_data = pd.read_csv('data/covid_data.csv')
display(covid_data.head())

         date province/state country  confirmed  deaths  recovered
0  01/22/2020          Anhui   China        1.0     0.0        0.0
1  01/22/2020        Beijing   China       14.0     0.0        0.0
2  01/22/2020      Chongqing   China        6.0     0.0        0.0
3  01/22/2020         Fujian   China        1.0     0.0        0.0
4  01/22/2020          Gansu   China        0.0     0.0        0.0

In [51]:
vaccinations_data = pd.read_csv('data/country_vaccinations.csv')
vaccinations_data = vaccinations_data[
    ['country', 'date', 'total_vaccinations', 
     'people_vaccinated', 'people_vaccinated_per_hundred',
     'people_fully_vaccinated', 'people_fully_vaccinated_per_hundred',
     'daily_vaccinations', 'vaccines']
]
display(vaccinations_data.head())

,country,date,total_vaccinations,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines
0,Afghanistan,2021-02-22,0.0,0.0,0.0,NaN,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Afghanistan,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,Afghanistan,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
3,Afghanistan,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
4,Afghanistan,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."

In [52]:
covid_data = covid_data.groupby(
    ['date', 'country'], 
    as_index=False
)[['confirmed', 'deaths', 'recovered']].sum()

In [53]:
covid_data['date'] = pd.to_datetime(covid_data['date'])

In [54]:
covid_data['active'] = covid_data['confirmed'] - covid_data['deaths'] - covid_data['recovered']

In [55]:
covid_data = covid_data.sort_values(by=['country', 'date'])
covid_data['daily_confirmed'] = covid_data.groupby('country')['confirmed'].diff()
covid_data['daily_deaths'] = covid_data.groupby('country')['deaths'].diff()
covid_data['daily_recovered'] = covid_data.groupby('country')['recovered'].diff()

In [56]:
display(covid_data.head())

,date,country,confirmed,deaths,recovered,active,daily_confirmed,daily_deaths,daily_recovered
11337,2020-02-24,Afghanistan,1.0,0.0,0.0,1.0,NaN,NaN,NaN
11570,2020-02-25,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
11807,2020-02-26,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
12051,2020-02-27,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
12299,2020-02-28,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [57]:
vaccinations_data['date'] = pd.to_datetime(vaccinations_data['date'])

In [58]:
display(covid_data.head())

,date,country,confirmed,deaths,recovered,active,daily_confirmed,daily_deaths,daily_recovered
11337,2020-02-24,Afghanistan,1.0,0.0,0.0,1.0,NaN,NaN,NaN
11570,2020-02-25,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
11807,2020-02-26,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
12051,2020-02-27,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
12299,2020-02-28,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [59]:
display(covid_data.tail())

,date,country,confirmed,deaths,recovered,active,daily_confirmed,daily_deaths,daily_recovered
15933,2020-03-12,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16595,2020-03-14,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16938,2020-03-15,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17290,2020-03-16,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17645,2020-03-17,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
covid_data['date'].min()

Timestamp('2020-01-22 00:00:00')

In [61]:
covid_data['date'].max()

Timestamp('2021-05-29 00:00:00')

In [62]:
vaccinations_data['date'].min()

Timestamp('2020-12-02 00:00:00')

In [63]:
vaccinations_data['date'].max()

Timestamp('2021-09-06 00:00:00')

In [64]:
covid_df = covid_data.merge(vaccinations_data, how='left', on=['date', 'country'])
display(covid_df.head())

,date,country,confirmed,deaths,recovered,active,daily_confirmed,daily_deaths,daily_recovered,total_vaccinations,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines
0,2020-02-24,Afghanistan,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-25,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-26,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-02-27,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-02-28,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
covid_df['date'].min()

Timestamp('2020-01-22 00:00:00')

In [66]:
covid_df['date'].max()

Timestamp('2021-05-29 00:00:00')

In [67]:
display(covid_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86785 entries, 0 to 86784
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 86785 non-null  datetime64[ns]
 1   country                              86785 non-null  object
 2   confirmed                            86785 non-null  float64
 3   deaths                               86785 non-null  float64
 4   recovered                            86785 non-null  float64
 5   active                               86785 non-null  float64
 6   daily_confirmed                      86564 non-null  float64
 7   daily_deaths                         86564 non-null  float64
 8   daily_recovered                      86564 non-null  float64
 9   total_vaccinations                   10629 non-null  float64
 10  people_vaccinated                    10007 non-null  float64
 11  people_vaccinated_per_hundred        10007 non-null  float64
 12  people_fully_vaccinated              7695 non-null   float64
 13  people_fully_vaccinated_per_hundred  7695 non-null   float64
 14  daily_vaccinations                   18264 non-null  float64
 15  vaccines                             18451 non-null  object
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 10.6+ MB

None

In [68]:
print(covid_df.shape[0])
print(covid_df.shape[1])

86785
16

In [70]:
covid_df['death_rate'] = covid_df['deaths'] / covid_df['confirmed'] * 100

In [71]:
covid_df['recover_rate'] = covid_df['recovered'] / covid_df['confirmed'] * 100

In [74]:
mask_1 = covid_df['country'] == 'United States'
mask_2 = covid_df['death_rate'].notnull()
round(covid_df[mask_1 & mask_2][['death_rate', 'confirmed', 'deaths']].sort_values(by='death_rate'), 2)

       death_rate  confirmed   deaths
82542        0.00        1.0      0.0
82543        0.00        1.0      0.0
82544        0.00        2.0      0.0
82545        0.00        2.0      0.0
82546        0.00        5.0      0.0
...           ...        ...      ...
82657        6.07  1469104.0  89191.0
82654        6.08  1391915.0  84562.0
82655        6.09  1418928.0  86357.0
82656        6.09  1444045.0  87982.0
82584        7.19      153.0     11.0

[494 rows x 3 columns]

In [82]:
mask_3 = covid_df['country'] == 'Russia'
#mask_4 = covid_df['recover_rate'].notnull()
print(round(covid_df[mask_3]['recover_rate'].mean(), 2))

67.06